# Generic built files
*.[ao]
*.so
*.dll
*.lib
*.dylib

# Pop built files
/popc/popc
/pop/frontend/define-symbols.cpp
/pop/frontend/dot.cpp
/pop/frontend/grammar.cpp
/pop/frontend/grammar.hpp
/pop/frontend/lexer.cpp
/pop/frontend/lexer.hpp
/pop/frontend/link-parents.cpp
/pop/frontend/location-patcher.cpp
/pop/frontend/resolve-symbols.cpp
/pop/frontend/validate.cpp
/pop/ir/ast.cpp
/pop/ir/ast.hpp
/pop/ir/ast-visitor.cpp
/pop/ir/ast-visitor.hpp
/pop/ir/instructions.hpp
/pop/ir/instruction-visitor.cpp
/pop/ir/instruction-visitor.hpp
/pop/ir/operators.cpp
/pop/ir/operators.hpp

# Autotools built files
*.lo
*.la
Makefile
Makefile.in
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/m4/libtool.m4
/m4/lt*.m4
/pop*.tar.gz
/pop/config.h*
/pop/stamp-h1
