*.d
*.o
*.pro.user

/Pop/pop
/Pop/AST.cpp
/Pop/AST.hpp
/Pop/DefineSymbols.cpp
/Pop/DOT.cpp
/Pop/Grammar.cpp
/Pop/Grammar.hpp
/Pop/Instructions.hpp
/Pop/InstructionVisitor.cpp
/Pop/InstructionVisitor.hpp
/Pop/Lexer.cpp
/Pop/Lexer.hpp
/Pop/LinkParents.cpp
/Pop/LocationPatcher.cpp
/Pop/Operators.cpp
/Pop/Operators.hpp
/Pop/ResolveSymbols.cpp
/Pop/Transformer.cpp
/Pop/Transformer.hpp
/Pop/Validate.cpp
/Pop/Visitor.cpp
/Pop/Visitor.hpp
