# Generic built files
*.[ao]
*.so
*.dll
*.lib
*.dylib

# Pop built files
/pop/popc
/pop/ast.cpp
/pop/ast.hpp
/pop/define-symbols.cpp
/pop/dot.cpp
/pop/grammar.cpp
/pop/grammar.hpp
/pop/instructions.hpp
/pop/instruction-visitor.cpp
/pop/instruction-visitor.hpp
/pop/lexer.cpp
/pop/lexer.hpp
/pop/link-parents.cpp
/pop/location-patcher.cpp
/pop/operators.cpp
/pop/operators.hpp
/pop/resolve-symbols.cpp
/pop/validate.cpp
/pop/visitor.cpp
/pop/visitor.hpp

# Autotools built files
*.lo
*.la
Makefile
Makefile.in
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/pop*.tar.gz
/pop/Config.h*
/pop/stamp-h1
